<div class="container">
    <div class="jumbotron">
         <h1>Burgers!</h1><br>
         <p>Welcome to Good Burger, home of the Good Burger can we take your order?</p>
    </div>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col">
      <div class="card">
        <h2>The Menu</h2><br>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burger-block consumed=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <h2>Previous Orders</h2><br>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{> burger-block consumed=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <form class="form">
      <div class="form-group">
        <label for="newFlavor">
          <h2>Suggest a new burger!</h2>
        </label>
        <input type="text" id="newBurger" name="name">
      </div>

      <div class="form-group">
        <label for="devoured">Enter the name of the burger you want to eat.</label>
        <input type="radio" class="radio" name="devoured" value="0">Hot item
        <input type="radio" class="radio" name="devoured" value="1" checked>Previously Ordered
      </div>
      <button type="submit" class="btn" id="addBurger">Add Burger</button>


    </form>
  </div>
</div>
